.aws/
.cache/
.config/
.gitconfig/
.ipynb_checkpoints/
.autovizwidget/
.jupyter/
.local/
.sagemaker-jumpstart-tasks-status.json
.yarnrc
.ipython/
.gitconfig
local_file.csv
*.csv
myvenv/
opt/
playground/
settings.json